body{
    margin: auto;

}
.parent-div{
    background-image: url(./starter-code/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: skyblue;
    height:600px;
    width:1000px;
    margin-top: 40px;
    margin-left: auto;
    margin-right:auto;
    padding-top: 40px;
}
.first-div{
    background-image: url(./starter-code/images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width:400px;
    margin: auto;
    border-radius: 15px 15px 0px 0px;
}
.second-div{
    font-family: 'CustomFont', Arial, sans-serif;
    font-weight: 100;
    background-color: aliceblue;
    text-align: center;
    height: 350px;
    width:400px;
    margin: auto;
    border: 1px solid white;
    border-radius: 0px 0px 15px 15px;
}
.third-div{
    display:flex;
    margin: auto;
    height: 70px;
    width:300px;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
.anc{
    position: absolute;
    top: 450px;
    left: 700px;
}
.btn1{
    position: relative;
    top: 0px;
    width: 300px;
    height: 40px;
    margin-top: 10px;
    background-color: blue;
    border-radius: 5px;
    border-style: none;
    color: #fff;;
}
.btn2{
    position: relative;
    top: 0px;
    width: 300px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
    color: grey;
}
.imgs{
    height: 45px;
    width: 45px;
    padding: 12px;
}
.txt1{
    position: absolute;
    top: 430px;
    left: 560px;
}
.txt2{
    position: absolute;
    top: 445px;
    left: 560px;
}